body {
    background-color: black;
}
p, h1,text, a, button{
    margin: 10px;
    color: rgb(255, 255, 255);
    /* background-color: rgb(49, 49, 49); */
}
.message{
    background-color: rgb(44, 44, 44);
    border: 5px solid;
    border-radius: 5px;
    border: 2px;
    border-color: rgb(51, 51, 51);
    width: 50%;
    margin-left: 1%;
}
button{
    margin: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(49, 49, 49);
    border-radius: 5%;
    border: 2px solid;
}
.menu{
    background-color: rgb(49, 49, 49);
    border-radius:4px ;
    height: 6%;
    margin: 1px ;
}