{%load static%}
<!DOCTYPE html>
<link type="text/css" href="{% static 'main/css.css' %}" rel="stylesheet" />
<html lang="ru">
<head>
</head>
<body>
    <div class="menu">
        <ul class="menu_ul">
            <li><a href = "{% url 'main' %}", class="menu_li">Фоурм</a></li>
            <li><a href = "{% url 'write' %}". class="menu_li">Написать</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}", class="menu_li">Выйти</a></li>
                <li><p class="menu_li">{{ request.user.username }}</p></li>
            {% else %}
                <li><a href = "{% url 'register' %}", class="menu_li">Зарегистрироваться</a></li>
                <li><a href = "{% url 'login' %}", class="menu_li">Войти</a></li>
        </ul>
        {% endif %}
    </div>
    {% csrf_token %}
    {%block content%}
    {%endblock%}
</body>
</html>
